body{
  font-family: sans-serif;
}

/* nav */

nav{
  /* position:sticky;
  top: 0px;
  z-index: 10; */
  /* border-bottom: 1px solid red; */
  display: flex;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  justify-content: flex-end;
  align-items: center;
}

#logo{
  width: 20px;
  height: auto;
  /* border-radius: 10px; */
}

#logo-user{
  width: 25px;
  height: auto;
  border-radius: 50px;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 10px;
  list-style: none;
}

.brand_image{
  padding-left: 10px;
}

nav li a{
  text-decoration: none;
  color: #000;
}

/* main section */
.container{
  /* margin: auto;
  text-align: center;
  max-width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.google-main{
  width: 300px;
}

.input{
  border: 1px solid grey;
  border-radius: 10px;
  width:450px;
  height:25px;
}

.botones{
  /* display: flex; */
}

.btn{
  background-color: #eeedf1;
  border-radius: 3px;
  color: #000;
  width: 140px;
  padding: 10px;
  margin: 0px 10px;
  /* font-size: 10px; */
}

.btn:hover{
  background-color: grey;
}

footer{
  display: flex;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

footer ul{
  display: flex;
}

footer li{
  padding-left: 20px;
  list-style: none;
}

footer li a{
  text-decoration: none;
  color: #000;
}

@media (max-width:900px) {

footer{
  padding-top: 10px;
}

#footer1{
  display: none;
}

}
